<template id ="template">
    <!-- homebrewed stylesheet -->
    <link href="/CSS/general.css" type="text/css" rel="stylesheet" media="screen">
    
    <div class="wrapper" id="hideDetail">
        <a class="bothColLeft" href="" id="hideDetailAction">&#60; hide detail</a>
        <!-- <button class="bothColLeft" id="hideDetailAction">&#60; hide detail</button> -->
        <section class="sectionOne">
            <img src="/media/img/manOutline.png">
            <p>Customer / Policy Holder</p>
        </section>
        <section class="sectionOne">
            <img src="/media/img/manOutlineTie.png">
            <p>Great American Insurance</p>
        </section>
        <section class="sectionTwo">
            <p>Need to report a claim?</p>
            <img src="/media/img/clipboard.png">
        </section>
        <section>&#32;</section>
        <section class="sectionTwo">
            <p>Contact the GAIC Service Center</p>
            <p>(800) 833-3549
                newclaims@gaig.com
            </p>
        </section>
        <section class="sectionThree">
            <p>Claims are handled by GAIC Expert Claims Management Team</p>
        </section>
        <section class="sectionTwo">
            <p>Verify information</p>
        </section>
        <section class="sectionThree">
            <p>GAIC works with the customer to get all information regarding the loss</p>
        </section>
        <section>&#32;</section>
        <section class="sectionThree">
            <p>Decision is made on the cover loss</p>
        </section>
        <section class="sectionTwo">
            <p>Check Recieved</p>
        </section>
        <section class="sectionThree">
            <p>Check is sent to the customer to cover the loss of the equipment</p>
            <img src="/media/img/checkRed.png">
        </section>
    </div>
</template>
<script type="text/javascript" src="/JS/claimsProcess.js"></script>