<template id="template" id="hideDetail">
    <!-- homebrewed stylesheet -->
    <link href="/CSS/general.css" type="text/css" rel="stylesheet" media="screen">
    <div class="wrapper">
        <a href="" class="bothColLeft" id="showDetailAction">&#60; Show Detail</a>
        <section class="sectionOne">
            <img src="/media/img/manOutline.png">
            <p>Customer / Policy Holder</p>
        </section>
        <section>&#32;</section>
        <section class="sectionTwo">
            <p>Need to report a claim?</p>
            <img src="/media/img/clipboard.png">
        </section>
        <section>&#32;</section>
        <section class="sectionTwo">
            <p>Contact the GAIC Service Center</p>
            <p>(800) 833-3549 newclaims@gaig.com</p>
        </section>
        <section>&#32;</section>
        <section class="sectionTwo">
            <p>Verify Information</p>
        </section>
        <section>&#32;</section>
        <section class="sectionTwo">
            <p>Check Recieved</p>
        </section>
        <section>&#32;</section>
    </div>
</template>
<script type="text/javascript" src="/JS/customerOptions.js"></script>